name: Build DuckDB Bundle on Amazon Linux 2023

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ github.event_name == 'workflow_dispatch' && 'suremate' || 'blacksmith-2vcpu-ubuntu-2404-arm' }}
    
    container:
      image: public.ecr.aws/amazonlinux/amazonlinux:2023

    steps:
      - name: Install basic tools
        run: |
          dnf update -y
          dnf install --allowerasing \
            tar gzip xz git cmake \
            make gcc gcc-c++ curl \
            openssl-devel zlib-devel libcurl-devel \
            python3 -y
      
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set duckdb_version variable
        run: |
          echo "Setting DUCKDB_VER variable"
          source ./duckdb_version
          echo "DUCKDB_VER=$DUCKDB_VER" >> $GITHUB_ENV

      - name: Clone DuckDB
        run: |
          git clone --depth 1 --branch $DUCKDB_VER https://github.com/duckdb/duckdb.git

      - name: Build DuckDB bundle
        run: |
          pushd duckdb
          mkdir -p build/release/vcpkg_installed/arm64-linux/lib
          DUCKDB_PLATFORM=any \
          DISABLE_EXTENSION_LOAD=1 \
          BUILD_EXTENSIONS="httpfs;parquet;json;icu;" \
          make bundle-library
          popd

      - name: Package library
        run: |
          pushd duckdb
          tar -cJf libduckdb_bundle-arm64-linux.tar.xz -C ./build/release libduckdb_bundle.a
          popd

      - name: Create GitHub Release and upload file
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: duckdb/libduckdb_bundle-arm64-linux.tar.xz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}